# for build the cuda extension in models/ops
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.9.0+cu111
torchvision==0.10.0+cu111
numpy==1.26
scipy
tqdm
easydict
PyYAML
pandas
einops
h5py
opencv-python
joblib
setuptools==59.5.0
more_itertools
protobuf==3.20